<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<form action="/selectfeatures" method="POST">
<H1 style="margin-left:1em;">Please select any one of the Popular Datasets for Visualization.</H1>

<p style="margin-left:5em;"><input type="radio" name="option" value="houseprice" checked> Boston House-Prices Dataset </p>
<p style="margin-left:5em;"><input type="radio" name="option" value="iris"> Iris Dataset </p>
<p style="margin-left:5em;"><input type="radio" name="option" value="diabetes"> Diabetes Dataset </p>
<p style="margin-left:5em;"><input type="radio" name="option" value="digits"> Digits Dataset </p>
<p style="margin-left:5em;"><input type="radio" name="option" value="linnerud">  Linnerud Dataset </p>
<p style="margin-left:5em;"><input type="radio" name="option" value="wine"> Wine Dataset </p>
<p style="margin-left:5em;"><input type="radio" name="option" value="breastcancer"> Breast Cancer Wiscons in Dataset </p>

<p style="margin-left:5em;">&nbsp<input type="submit" value="Submit"></p>

</form>


</body>
</html>